#HomeSection1 {
   display: flex;
   align-items: end;
}

.section1__text {
   float: left;
   margin: 20px auto;
}

.section1__text h1 {
   display: block;
   margin: 20px 15px;
   font-size: xxx-large;
}

.section1__text p {
   display: block;
   margin: 30px;
}

.section1__text button {
   display: block;
   margin: 70px auto;
}

#HomeSection2 h1 {
   margin: 20px 40px;
}

#HomeSection2__Courses {
   display: flex;
   justify-content: space-around;
   height: 200px;
}

#HomeSection2__Courses div {
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#HomeSection2__Courses img {
   height: 50px;
   width: 50px;
}

#HomeSection2__Courses p {
   text-align: center;
}