<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <nav>
        <h1>STUDENTO</h1>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div>
        <p>Design by: Dorian & Ken</p>
    </div>
</footer>

</body>
</html>

