<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{% block style %} {% endblock %}">
    <title>{% block title %}Studento{% endblock %}</title>
</head>

<body>

    <header>
        <nav>
            <a href="{{ path('index') }}"><img src="{{ asset('img/logo60x80.png') }}" alt="logoStudento" /></a>
            <ul>
                <li><a href="">Tour</a></li>
                <li><a href="">Cours</a></li>
                <li><a href="">Contact</a></li>
                <li> <button>Se connecter</button></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        {% block main %}{% endblock %}
    </main>

    <hr>

    <footer>
        <div>
            <h1>Studento</h1>
            <div class="copyright">Copyright © Tous droits réservés.</div>
            <div class="copyright">Design by: Dorian & Ken</div>
        </div>
    </footer>

</body>
</html>

