{% extends('base.html.twig') %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <div>
        <form method="post">
            <h2>Connexion</h2>

            {% if error %}
                <div class="alert alert-danger">Identifiant incorrect</div>
            {% endif %}
            <div>
                <label for="loginUser">Identifiant :</label>
                <input type="text" name="_username" id="loginUser" required autofocus>
            </div>

            <div>
                <label for="loginPassword">Mot de passe :</label>
                <input type="password" name="_password" id="loginPassword" required>
            </div>

            <button type="submit" >Connexion</button>
        </form>

        <div>
            <p>Mot de passe oublié? Cliquez<a href="{{ path('app_forgot_password_request') }}"> ici </a></p>

        </div>
    </div>
{% endblock %}