{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block main %}

    {{ form_start(ShowProfileForm) }}
    {{ form_widget(ShowProfileForm) }}
    <button type="submit">Modifier</button>
    {{ form_end(ShowProfileForm) }}



{% endblock %}